# SQL Notes

## General
* Postgres has weird behaviour with table names, if you define a table name without quotes, it's converted to lower case and you can specify the identifier without quotes. If you use quotes, the exact case is used for the table name, and you need to use quotes to specify the table.
* Double quotes are for quoting identifiers, use single quotes to define string literals.

## Sequences
* You can define number sequences in SQL. In postgres, the serial data type is a convenience type for creating an integer column, with default values assigned from an auto incrementing sequence.
* A sequence is implemented as a table with a single row.

In [9]:
import pgdb
with pgdb.connect('localhost:james', user='james', password='dev') as conn:
    with conn.cursor() as cursor:
        cursor.execute("CREATE TEMP SEQUENCE serial START 1000 INCREMENT BY 100;")
        print (tuple(cursor.execute('SELECT * FROM serial;')))
        for i in range(0, 5):
            print(tuple(cursor.execute("SELECT nextval('serial');")))

(Row(sequence_name='serial', last_value=1000L, start_value=1000L, increment_by=100L, max_value=9223372036854775807L, min_value=1L, cache_value=1L, log_cnt=0L, is_cycled=False, is_called=False),)
(Row(nextval=1000L),)
(Row(nextval=1100L),)
(Row(nextval=1200L),)
(Row(nextval=1300L),)
(Row(nextval=1400L),)

## You probably shouldn't use enum datatypes
* http://komlenic.com/244/8-reasons-why-mysqls-enum-data-type-is-evil/


1. Data isn't being treated like data.
* Changing the member list of ENUM columns is very expensive.
* It's impossible to add additional attributes or related info.
* Getting a list of distinct ENUM members is a pain.
* ENUM columns may only offer limited or negligible effects on optimization.
* You can't reuse the member-list of an ENUM column in other tables.
* ENUM columns have noteable gotchas.
* ENUM has limited portability to other DBMS.

## Useful Things

In [ ]:
# Return the number of records in the table.
SELECT COUNT(*) FROM table_name;

# Return the number of values in the column (excluding NULL values)
SELECT COUNT(col_name) FROM table_name;

# Return the first ten rows from a table
SELECT * FROM table_name LIMIT 10;

## Refs
* http://modern-sql.com/slides